.historial{
    border-top: 1px solid #000;
overflow-y: auto;
height: 20em;
}

.cont-historial{
text-align: center;
padding: 1.5em 0;
}

.historial-lista li {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
 
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 1.2em;
}


.historial-lista span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.auto-lavado-ultimo {
    background-color: #d4edda;
}


.animado {
  animation: entrar 1s ease-out;
}

@keyframes entrar {
  from {
    background-color: rgba(0, 150, 255, 0.3);
    transform: scale(0.96);
  }
  to {
    background-color: transparent;
    transform: scale(1);
  }
}
