.historial{
    border-top: 1px solid #000;
overflow-y: auto;
height: 20em;
}

.cont-historial{
text-align: center;
padding: 1.5em 0;
}

.historial-lista {
  font-size: 1.2em;
}


.fila {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  white-space: nowrap; 

  font-size: 1em;
}


.fila-animation{
   display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  white-space: nowrap; 
  font-size: 1em;
  transition: .5 ease-in-out;
padding: 1.3em 0;
}

.historial-lista span {


}


