.home{
position: relative;
background-color: #181818;
color: #fff;
overflow: hidden;
}
.cont-home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .4em 0 ;
    gap: 2em;
    align-items: center;

}
.home-select-field{
    font-size: 1.3em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 .5em;
}
.home-input-vn{
    padding: .2em;
    font-size: 4em;
    width: 80%;
    border-radius: 9px;
    border: 1px solid #000;
    text-align: center;
}

.cont-tiempo{
    background-color: #000;
    padding: 3em;
    border-radius: 5px;

}
.tiempo{
    font-size: 3em;
    color: #fff;
}
.buttons{
    font-size: 1.5em;
    padding: .5em;
    width: 90%;
    background-color: #cfcfcf;
    border: none;
    margin-bottom: .5em;
    border-radius: 5px;
}

