.componente-login{
    overflow: hidden;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  background-color: #000000;
  color: #fff;
  margin-top: -1px;
  overflow: hidden;
}
.cont-login {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: -105px;
}
.titulo-login {
  font-size: 2em;
}
.cont-input-login {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1em;
}
.input-login {
  font-size: 1.5em;
  padding: 0.55em;
  background-color: transparent;
  border: 0.1px solid #808080;
  border-radius: 25px;
  color: #ffffff;
}

.cont-btn-login {
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-login {
  width: 100%;
  padding: 0.5em;
  border-radius: 24px;
  border: none;
  font-size: 1.3em;
  font-weight: bolder;
}
