.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000fb;
  color: #fff;
  padding: .8em ;
  text-align: center;
  border-radius: 8px;
  font-size: 1.3em;
  width: 90%;
  backdrop-filter: blur(4px);
}
.cont-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.cont-buttons{
width: 100%;
padding: .5em;
display: flex;
flex-direction: column;
gap: .5em;
align-items: center;

}
.modal-buttons{
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
  
}
.modal-buttons{
    width: 100%;
    padding: .2em 1em;
    border: none;
    border-radius: 5px;
}